<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hovedsiden</title>
</head>
<body>
    <h1>Hovedsiden</h1>
    <ul>
        <li>hej</li>
        <li>hej2</li>
        <li>hej3</li>
        <li>hej4</li>
        <li>hej5</li>
        <th>hed</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </ul>
</body>
</html>
