<html>
  <head>
    <script src="login.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="center">
    <center> <h1>Log ind på Mit Marked</h1> </center>
    <center><form id="loginForm">
      <input value="kasper@Vejen.com" placeholder="Email" id="email" type="email" />
      <input value="5555" placeholder="Adgangskode" id="password" type="password" />
      <button type="submit">Login</button>
    </form>
    <p class="ingenBruger"> <b> Klik for at oprette bruger<a href="create_user.html"> her! </a> </p>
  </center>
</div>
  </body>
</html>
